<div class="button-bar container-limit norm-block">
	<div class="btn-with-icon one-color">
		<div class="btn-place-text two-color">
			<p class="btn-text one-color">Сортировка</p>
		</div>
		<div class="btn-place-icon one-color">
			<div class="btn-icon-border two-color"></div>
			<img class="btn-icon" src="/access/icon/arrow-down.svg" />
		</div>
	</div>
	<div class="btn-with-icon one-color">
		<div class="btn-place-text two-color">
			<p class="btn-text one-color">Категории</p>
		</div>
		<div class="btn-place-icon one-color">
			<div class="btn-icon-border two-color"></div>
			<img class="btn-icon" src="/access/icon/arrow-down.svg" />
		</div>
	</div>
</div>
<div class="list-staff container-limit norm-block">
	<div class="card two-color">
		<div class="card-content">
			<div class="card-place-img">
				<img class="card-img" src="/access/img/robo_const.png" />
			</div>
			<div class="card-place-text one-color">
				<p class="norm-text two-color">Робот конструктор</p>
				<p class="norm-text two-color">500$</p>
			</div>
		</div>
	</div>
	<div class="card two-color">
		<div class="card-content">
			<div class="card-place-img">
				<img class="card-img" src="/access/img/Frame 5.png" />
			</div>
			<a class="spec-a" href="/staff/">
				<div class="card-place-text one-color">
					<p class="norm-text two-color">Tesla bot</p>
					<p class="norm-text two-color">100000$</p>
				</div>
			</a>
		</div>
	</div>
	<div class="card two-color">
		<div class="card-content">
			<div class="card-place-img">
				<img class="card-img" src="/access/img/robo_cook.png" />
			</div>
			<div class="card-place-text one-color">
				<p class="norm-text two-color">Робот повар</p>
				<p class="norm-text two-color">10000$</p>
			</div>
		</div>
	</div>
	<div class="card two-color">
		<div class="card-content">
			<div class="card-place-img">
				<img class="card-img" src="/access/img/spot.png" />
			</div>
			<div class="card-place-text one-color">
				<p class="norm-text two-color">Робопёс Spot</p>
				<p class="norm-text two-color">50000$</p>
			</div>
		</div>
	</div>
</div>