<div class="basket-list container-limit norm-block">
    <div class="form-field">
        <div class="high-text two-color">Ваши данные</div>
        <form class="form-norm">
            <input class="norm-input norm-text two-color" type="text" placeholder="ФИО">
            <input class="norm-input norm-text two-color" type="text" placeholder="Номер телефона">
            <input class="norm-input norm-text two-color" type="email" placeholder="Эл.почта">
        </form>
    </div>
    <div class="form-field">
        <div class="high-text two-color">Способ оплаты</div>
        <form class="form-norm">
            <select class="norm-input norm-text two-color norm-select">
                <option value="card">Карта</option>
                <option value="qiwi">Qiwi</option>
                <option value="bitcoin">Bitcoin</option>
            </select>
            <input class="norm-input norm-text two-color" type="text" placeholder="Номер карты">
            <input class="norm-input norm-text two-color" type="email" placeholder="Месяц/Год">
        </form>
    </div>
    <div class="form-field">
        <div class="high-text two-color">Способ доставки</div>
        <form class="form-norm">
            <select class="norm-input norm-text two-color norm-select">
                <option value="pochta">Почта</option>
                <option value="boxberry">Boxberry</option>
                <option value="sdek">SDEK</option>
            </select>
            <select class="norm-input norm-text two-color norm-select">
                <option value="Russia">Россия</option>
                <option value="Ukrain">Украина</option>
                <option value="USA">USA</option>
            </select>
            <input class="norm-input norm-text two-color" type="text" placeholder="Регион">
            <input class="norm-input norm-text two-color" type="email" placeholder="Населённый пункт">
            <input class="norm-input norm-text two-color" type="email" placeholder="Улица, дом, квартира">
            <input class="norm-input norm-text two-color" type="email" placeholder="Индекс">
        </form>
    </div>
    <div class="btn-big two-root-color">
        <div class="btn-big-text btn-text two-root-color">Оформить</div>
    </div>
</div>