<div class="banner filling-block scroll-align-start">
	<img class="banner-img" src="/access/img/banner1.jpg" />
	<div class="banner-content norm-block">
		<div class="btn-with-icon one-root-color">
			<div class="btn-place-text two-root-color">
				<p class="btn-text one-root-color">Вниз</p>
			</div>
			<div class="btn-place-icon one-root-color">
				<div class="btn-icon-border two-root-color"></div>
				<img class="btn-icon" src="/access/icon/arrow-down.svg" />
			</div>
		</div>
	</div>
</div>
<div class="container-limit filling-block flex-block-column norm-block scroll-align-start">
	<p class="high-text two-color">Встречайте</p>
	<p class="norm-text two-color">
		В нашей повседневной жизни тратится много времени на рутину, но есть способ этого избежать и
		сохранить своё время!
	</p>
	<p class="norm-text two-color">
		Роботы могуть помочь в большом спектре задач и выполнить их на лучшем уровне!
	</p>
	<p class="norm-text two-color">
		Мы ценим вашу любовь ❤ и поэтому поставляем вам только качественных роботов и только качественные
		комплектующие!
	</p>
</div>