<div class="login-place">
    <div class="login-card two-color norm-block">
        <form class="form-norm">
            <input class="norm-input norm-text two-color" type="text" placeholder="Эл.почта">
            <input class="norm-input norm-text two-color" type="text" placeholder="Пароль">
            <div class="btn-with-icon one-color">
                <div class="btn-place-text two-color">
                    <p class="btn-text one-color">Войти</p>
                </div>
            </div>
        </form>
        <div class="href-bar">
            <a class="a-text two-color spec-a">
                <p class="norm-text">Регистрация</p>
            </a>
            <a class="a-text two-color spec-a">
                <p class="norm-text">Забыли пароль?</p>
            </a>
        </div>
    </div>
</div>