
/* Style elements */

/* Card style */
.card {
    position: relative;
    background-color: var(--self-color);
    max-width: 550px;
    min-width: 275px;
    flex-grow: 1;
}

.card>.card-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    padding: 8px;

    display:flex;
    flex-direction: column;
}

.card-place-img {
    flex-grow: 1;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-place-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    background-color: var(--self-color);
}

.card:before {
    display: block;
    content: "";
    padding-top: 100%;
}

/* Input style */

/* Button-bar */

.button-bar {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: var(--norm-gap);
}

/* Button style */
.btn-with-icon {
    display: grid;
    grid-template-columns: min-content min-content;
    width: max-content;

    background-color: var(--self-color);
}

.btn-place-text {
    padding: 12px 24px;
    background-color: var(--self-color);
}

.btn-place-icon {
    display: inline;
    position: relative;
}

.btn-icon-border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid var(--self-color);
}

.btn-icon {
    height: 100%;
}


/* Href style */
.a-text {
    display: inline-block;

    width: fit-content;
    

    color: var(--self-color);

    border-bottom-color: rgba(255, 255, 255, 0);
    border-bottom-width: 3px;
    border-bottom-style: solid;

    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.a-text:hover {
    border-bottom-color: var(--self-color);
}

/* Banner style */
.banner {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner-img {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.banner-content {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}