@font-face {
    font-family: "JetBrains-Mono";
    font-style: normal;
    font-weight: 500;
    src: url("/access/font/JetBrainsMono-Medium.ttf");
}
@font-face {
    font-family: "JetBrains-Mono";
    font-style: italic;
    font-weight: 500;
    src: url("/access/fonts/JetBrainsMono-MediumItalic.ttf");
}
@font-face {
    font-family: "JetBrains-Mono";
    font-style: normal;
    font-weight: 700;
    src: url("/access/fonts/JetBrainsMono-Bold.ttf");
}
@font-face {
    font-family: "JetBrains-Mono";
    font-style: normal;
    font-weight: 800;
    src: url("/access/fonts/JetBrainsMono-ExtraBold.ttf");
}