.style-text {
    font-family: 'JetBrains-Mono', monospace;
    font-style: normal;
}

.day-theme {
    --one-color: var(--two-root-color);
    --two-color: var(--one-root-color)
}

.night-theme {
    --one-color: var(--one-root-color);
    --two-color: var(--two-root-color);
}

* {
    transition-property: all;
    transition-duration: 470ms;
    transition-timing-function: cubic-bezier(0.07, 1, 0.12, 0.96);
    transition-delay: 0s;
}