@media (max-width: 1113px) {
}
@media (max-width: 744px) {
    .nav-menu {
        display: none;
    }
    .nav-btn {
        display: flex;
    }

    .norm-block {
        padding: 16px;
    }
    
    .flex-row-gap {
        gap: 12px;
    }
    
    .indent * {
        margin-top: 12px;
    }
}
@media (max-width: 543px) {
    .footer {
        flex-direction: column;
    }
}