
/* Color style */
.one-color {
    --self-color: var(--one-color);
}

.two-color {
    --self-color: var(--two-color);
}

.one-root-color {
    --self-color: var(--one-root-color);
}

.two-root-color {
    --self-color: var(--two-root-color);
}

/* Text style */

.norm-text {
    color: var(--self-color);
    font-weight: 500;
    font-size: 16px;
}
.italic {
    font-style: italic;
}
.btn-text {
    color: var(--self-color);
    font-weight: 700;
    font-size: 16px;
}
.high-text {
    color: var(--self-color);
    font-weight: 700;
    font-size: 32px;
}

/* Block style */
.norm-block {
    padding: var(--norm-padding);
}

.flat-block {
    padding: var(--flat-padding);
}

.flex-block-row {
    display: flex;
    flex-direction: row;
    gap: var(--norm-gap);
}

.flex-block-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--norm-gap);
}

.flex-block-column {
    display: flex;
    flex-direction: column;
    gap: var(--norm-gap);
}

.list-column {
    display: flex;
    flex-direction: column;
}

.indent {
    margin-top: var(--norm-indent);
}

.filling-block {
    width: 100%;
    height: 100%;
}
.norm-border {

    border-width: 4px;
    border-style: solid;
    border-color: var(--self-color);
}

.fill-block {
    background-color: var(--self-color);
}

.fit-block {
    width: fit-content;

}

.scroll-align-start {
    scroll-snap-align: start;
}

.scroll-align-end {
    scroll-snap-align: end;
}

.scroll-snap-main {
    scroll-snap-type: both mandatory;
}
