html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    /* width: 100vw; */

    /* height: 100vh;  */
    /* фолбэк для браузеров, которые не поддерживают пользовательские свойства */
    /* height: calc(var(--vh, 1vh) * 100); */
    width: 100%;
    height: 100%;

    background-color: var(--self-color);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
}

.header {
    width: 100%;
    z-index: 10;
    background-color: var(--self-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn {
    display: none;
    width: var(--high-text);
    height: var(--high-text);

    cursor: pointer;

    mix-blend-mode: difference;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--norm-gap);
}

.main {
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.list-staff {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--norm-gap);
}

.footer {
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: row;
    gap: var(--norm-gap);
}

