::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration-line: none;
    color: #fff;
}

.a-text {
    color: #fff;

    border-bottom-color: rgba(255, 255, 255, 0);
    border-bottom-width: 3px;
    border-bottom-style: solid;

    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.a-text:hover {
    border-bottom-color: rgb(255, 255, 255);
}

.norm-text {
    font-weight: 500;
    font-size: 24px;
}
.italic {
    font-style: italic;
}
.btn-text {
    font-weight: 700;
    font-size: 24px;
}
.high-text {
    font-weight: 500;
    font-size: 48px;
}
.logo-text {
    font-weight: 800;
    font-size: 48px;
}
.mons-text {
    font-weight: 800;
    font-size: 64px;
}

body {
    width: 100vw;
    height: 100vh;

    font-family: 'JetBrains-Mono', monospace;
    font-style: normal;
    color:#fff;
    background-color: #000;
    overflow: hidden;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    mix-blend-mode: difference;
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 72px;

    order: 1;
}

.main {
    width: 100%;
    height: 100%;
    
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    //gap: 24px;
    
    overflow-y: auto;
}

.banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap:16px;
}

.footer {
    
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    gap: 32px;

    
    flex-wrap: wrap;
    
    width: 100%;
    

}

.block {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.container {
    width: 100%;
    padding: 16px 48px;
}
